.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    color: rgba(9, 0, 128, 0.829);
    min-width: 50px;
    text-align: center;
    border: none;

}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
    outline: none;

}

h2 {
    color: rgba(9, 0, 128, 0.829);

}
form{
    margin: auto;
}
input.box{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}
button{
    color: blue;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    border-radius:30px;
}




@media screen and (max-width:767px) {

    .input-field {
    width: auto;
    text-align: center;
    outline: none;
    border-color:rgb(78, 73, 66); 
    border-radius: 30px;
    }
    h2{
        
        padding: 0px 0px 38 px 9px;
        position: relative;
        left: 30px;
        color: rgb(78, 73, 66);

    }
    .icon {
        padding: 0px 5px 0px 9px;
        color: rgb(78, 73, 66);
        
        min-width: 50px;
        text-align: center;
        border: none;


}

button{
    color: rgb(78, 73, 66);
    display: inline-flex;
    flex-direction: column;
}
}